<div class="text-center">
    <div class="mb-4">
        <h1 class="display-1 text-danger fw-bold">404</h1>
        <h2 class="mb-3">Pagina Non Trovata</h2>
        <p class="lead text-muted mb-4">Ops! La pagina che stai cercando non esiste.</p>
        
        <div class="d-flex justify-content-center gap-3">
            <a href="/home" class="btn btn-primary mt-auto">
                <i class="bi bi-house me-2"></i>Torna alla Home
            </a>
        </div>
    </div>
    
</div>