<!-- Opzioni dashboard -->
<div class="container mt-4 mb-5">
    <div class="mt-4 mb-5">
        <h2 class="text-center mb-4"><strong><i class="fas fa-chart-line"></i> Opzioni Dashboard</strong></h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5 mt-4">
            <!-- Prima card -->
            <div class="col-md-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Visualizza Pagamenti</strong></h5>
                        <p class="card-text text-center">Visualizza tutti i pagamenti effettuati su RoboCharge.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/pagamentiAdmin" class="btn btn-light btn-outline-dark mx-auto">
                            <strong>Visualizza</strong>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Seconda card -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Stato del Parcheggio</strong></h5>
                        <p class="card-text text-center">Visualizza quali slot posto sono liberi o occupati.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/parkingStatus" class="btn btn-light btn-outline-dark mx-auto">
                            <strong>Visualizza</strong>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Terza card -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title text-center"><strong>Utenti Iscritti</strong></h5>
                        <p class="card-text text-center">Visualizza una lista di tutti gli utenti iscritti su
                            RoboCharge.</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="/utentiAdmin" class="btn btn-light btn-outline-dark mx-auto">
                            <strong>Visualizza</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>