<div class="row g-4">
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">App Service API</h5>
          <p class="card-text text-muted mb-4">Documentazione per l'API del servizio principale dell'applicazione</p>
          <a href="http://localhost:8080/api-docs/" class="btn btn-outline-primary rounded-pill">Visualizza Documenti</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Parking Service API</h5>
          <p class="card-text text-muted mb-4">Documentazione per la gestione dei parcheggi e delle prenotazioni</p>
          <a href="http://localhost:3002/api-docs/" class="btn btn-outline-primary rounded-pill">Visualizza Documenti</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Payment Service API</h5>
          <p class="card-text text-muted mb-4">Documentazione per i servizi di pagamento</p>
          <a href="http://localhost:3004/api-docs/" class="btn btn-outline-primary rounded-pill">Visualizza Documenti</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Charging Service API</h5>
          <p class="card-text text-muted mb-4">Documentazione per la gestione della ricarica</p>
          <a href="http://localhost:3003/api-docs/" class="btn btn-outline-primary rounded-pill">Visualizza Documenti</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <h5 class="card-title mb-3">Auth Service API</h5>
          <p class="card-text text-muted mb-4">Documentazione per l'autenticazione degli utenti</p>
          <a href="http://localhost:3001/api-docs/" class="btn btn-outline-primary rounded-pill">Visualizza Documenti</a>
        </div>
      </div>
    </div>
  </div>